name: aws-server-client
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and Test
        run: |
          docker build . -t bilvaleaf/smart_hr_frontend:latest
      - name: Deploy on server
        run: |
          docker compose down
          docker compose up -d
